In [1]:
import pandas as pd
import numpy as np

In [2]:
df_diamonds = pd.read_csv ('../db/Diamondssql.csv')
df_diamonds

,Index,Color,Cut,Clarity,Price,City,Depth,Table,X,Y,Z,Carat,Continent
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,J,Premium,VS2,4268,Dubai,62.4,58.0,6.83,6.79,4.25,1.21,Asia
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,H,Very Good,VS2,505,Kimberly,63.0,57.0,4.35,4.38,2.75,0.32,Africa
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,G,Fair,VS1,2686,Las Vegas,65.5,55.0,5.62,5.53,3.65,0.71,America
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,D,Good,SI1,738,Kimberly,63.8,56.0,4.68,4.72,3.00,0.41,Africa
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,G,Ideal,SI1,4882,Dubai,60.5,59.0,6.55,6.51,3.95,1.02,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,G,Ideal,VS1,10070,Antwerp,62.7,57.0,7.10,7.04,4.43,1.34,Europe
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,F,Good,SI2,12615,Madrid,57.1,60.0,8.31,8.25,4.73,2.02,Europe
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,H,Ideal,SI1,5457,Kimberly,62.7,56.0,6.37,6.42,4.01,1.01,Africa
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,J,Ideal,VS1,456,Kimberly,61.9,54.3,4.45,4.47,2.76,0.33,Africa
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,I,Ideal,SI1,6232,London,62.0,58.0,6.83,6.88,4.25,1.24,Europe

In [3]:
cities=df_diamonds['City'].unique()
cities

array(['Dubai', 'Kimberly', 'Las Vegas', 'Tel Aviv', 'Amsterdam',
       'Zurich', 'Antwerp', 'Madrid', 'Paris', 'Surat', 'Luxembourg',
       'London', 'New York City'], dtype=object)

In [4]:
dict1={'Dubai':'Asia','Kimberly':'Africa','Las Vegas':'America', 'Tel Aviv':'Asia', 'Amsterdam':'Europe','Zurich':'Europe','Antwerp':'Europe', 'Madrid':'Europe','Paris':'Europe','Surat':'Asia', 'Luxembourg':'Europe','London':'Europe', 'New York City':'America'}
dict1

{'Dubai': 'Asia',
 'Kimberly': 'Africa',
 'Las Vegas': 'America',
 'Tel Aviv': 'Asia',
 'Amsterdam': 'Europe',
 'Zurich': 'Europe',
 'Antwerp': 'Europe',
 'Madrid': 'Europe',
 'Paris': 'Europe',
 'Surat': 'Asia',
 'Luxembourg': 'Europe',
 'London': 'Europe',
 'New York City': 'America'}

In [5]:
df_diamonds['Continent']=df_diamonds['City'].map(dict1)
df_diamonds

,Index,Color,Cut,Clarity,Price,City,Depth,Table,X,Y,Z,Carat,Continent
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,J,Premium,VS2,4268,Dubai,62.4,58.0,6.83,6.79,4.25,1.21,Asia
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,H,Very Good,VS2,505,Kimberly,63.0,57.0,4.35,4.38,2.75,0.32,Africa
2,d4735e3a265e16eee03f59718b9b5d03019c07d8b6c51f...,G,Fair,VS1,2686,Las Vegas,65.5,55.0,5.62,5.53,3.65,0.71,America
3,4e07408562bedb8b60ce05c1decfe3ad16b72230967de0...,D,Good,SI1,738,Kimberly,63.8,56.0,4.68,4.72,3.00,0.41,Africa
4,4b227777d4dd1fc61c6f884f48641d02b4d121d3fd328c...,G,Ideal,SI1,4882,Dubai,60.5,59.0,6.55,6.51,3.95,1.02,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40450,f0bc79169405ebeb24e308055156b946ffd819db9b4f75...,G,Ideal,VS1,10070,Antwerp,62.7,57.0,7.10,7.04,4.43,1.34,Europe
40451,339916a23bf22b052b54cb2a9b36ee8418c1c68b46acad...,F,Good,SI2,12615,Madrid,57.1,60.0,8.31,8.25,4.73,2.02,Europe
40452,46957922b99954654c1deb8d854c3f069bf118b2ce9415...,H,Ideal,SI1,5457,Kimberly,62.7,56.0,6.37,6.42,4.01,1.01,Africa
40453,9d733392d362d5c6f1d9b9659b601c7d4b5a1c1c8df579...,J,Ideal,VS1,456,Kimberly,61.9,54.3,4.45,4.47,2.76,0.33,Africa
40454,a02744a70faa594d240b067f21fcc23a8d17cd1098a9fb...,I,Ideal,SI1,6232,London,62.0,58.0,6.83,6.88,4.25,1.24,Europe

In [6]:
df_diamonds1 = df_diamonds[df_diamonds.duplicated(['Depth','Table','X','Y','Z'], keep=False)]
df_diamonds1

,Index,Color,Cut,Clarity,Price,City,Depth,Table,X,Y,Z,Carat,Continent
0,5feceb66ffc86f38d952786c6d696c79c2dbc239dd4e91...,J,Premium,VS2,4268,Dubai,62.4,58.0,6.83,6.79,4.25,1.21,Asia
1,6b86b273ff34fce19d6b804eff5a3f5747ada4eaa22f1d...,H,Very Good,VS2,505,Kimberly,63.0,57.0,4.35,4.38,2.75,0.32,Africa
15,e629fa6598d732768f7c726b4b621285f9c3b85303900a...,G,Good,SI2,6006,Paris,57.5,63.0,7.53,7.49,4.32,1.50,Europe
22,785f3ec7eb32f30b90cd0fcf3657d388b5ff4297f2f971...,G,Very Good,VS1,605,Zurich,61.7,56.0,4.29,4.33,2.66,0.30,Europe
24,c2356069e9d1e79ca924378153cfbbfb4d4416b1f99d41...,G,Premium,SI1,574,Madrid,62.9,59.0,4.28,4.24,2.68,0.30,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40405,a04c23499b380163a45148db577e37e02c309c7b020137...,G,Premium,VS1,776,Dubai,61.4,58.0,4.35,4.32,2.66,0.30,Asia
40417,65f6a89ba2e1d6d4ebb97333dab39daaddbadd393ab82d...,G,Good,VS2,4257,Antwerp,63.6,58.0,6.10,6.14,3.89,0.91,Europe
40425,dff43fac32be7cf4e2b5b60e653ec93e0e7b58288c2374...,F,Ideal,VS2,863,Tel Aviv,61.8,57.0,4.75,4.79,2.95,0.41,Asia
40446,5609aeee890a691e5542100acdb83a3604a4d8bd51599e...,I,Ideal,VS2,1110,Dubai,62.4,55.0,5.09,5.11,3.18,0.50,Asia
40449,1726e8e229489b353e6007fac1dfffb5300a96bf6166cf...,F,Ideal,VS1,3710,Kimberly,61.9,56.0,5.69,5.72,3.53,0.71,Africa

In [7]:
df_diamonds2 = df_diamonds[df_diamonds.duplicated(['Depth','Table','X','Y','Z'])]
df_diamonds2

,Index,Color,Cut,Clarity,Price,City,Depth,Table,X,Y,Z,Carat,Continent
469,c6bd343ae0007cdb979de7540f2668fe849d68ff47fa1a...,J,Ideal,VS2,396,Surat,62.2,55.0,4.32,4.36,2.70,0.31,Asia
475,b1585fdb272b31401eaac5dd46a936c1c09b4861e53e23...,I,Ideal,IF,694,Luxembourg,62.1,55.0,4.41,4.44,2.75,0.33,Europe
1013,2ec42bc1f3e672fc1cf7fdcfc23246415dcf20f03c0d4a...,G,Ideal,VVS2,2012,Madrid,61.5,56.0,5.20,5.18,3.19,0.52,Europe
1685,c2f61742e5f0ef0a74c5fcbeff7ff659def91bf4b5f1e1...,G,Ideal,VVS2,907,Madrid,62.6,57.0,4.33,4.29,2.70,0.31,Europe
1951,3510a92fc7dd04f69b1aeeef5489ef168dbf1d9c4d528b...,F,Very Good,SI2,6149,Tel Aviv,61.1,58.0,6.98,7.02,4.28,1.30,Asia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
40405,a04c23499b380163a45148db577e37e02c309c7b020137...,G,Premium,VS1,776,Dubai,61.4,58.0,4.35,4.32,2.66,0.30,Asia
40417,65f6a89ba2e1d6d4ebb97333dab39daaddbadd393ab82d...,G,Good,VS2,4257,Antwerp,63.6,58.0,6.10,6.14,3.89,0.91,Europe
40425,dff43fac32be7cf4e2b5b60e653ec93e0e7b58288c2374...,F,Ideal,VS2,863,Tel Aviv,61.8,57.0,4.75,4.79,2.95,0.41,Asia
40446,5609aeee890a691e5542100acdb83a3604a4d8bd51599e...,I,Ideal,VS2,1110,Dubai,62.4,55.0,5.09,5.11,3.18,0.50,Asia
40449,1726e8e229489b353e6007fac1dfffb5300a96bf6166cf...,F,Ideal,VS1,3710,Kimberly,61.9,56.0,5.69,5.72,3.53,0.71,Africa

In [9]:
df_diamonds.to_csv('../db/Diamondssql.csv', index=False)